<h1>ユーザー詳細（Users#show）</h1>

<table class="table table-bordered">
  <tr>
    <th>ユーザー名：</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>e-mail:</th>
    <td><%= @user.email %></td>
  </tr>
</table>


<a href="/"><p class="btn btn-default">タスク一覧へ</p></a>
